body {
    background-color: #0021CE;
    color: #FFE500;
    text-align: center;
  }

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

.row img {
    height: auto;
    width: auto;
    max-width: 20%;
    padding: 20px;
    border: 5px solid #FFE500;
    margin-right: 10px;
}

