body {
    background-color: #0021CE;
    color: #FFE500;
    text-align: center;
  }

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

.row img {
    height: auto;
    width: auto;
    max-width: 20%;
    padding: 20px;
    border: 5px solid #FFE500;
    margin-right: 10px;
    animation: breathe 0.5s infinite;
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 0 1px #FFE500;
       }
    100% {
     box-shadow: 0 0 0 10px #FFE500;

    }
}

.desc {
    margin-top: 80px;
    font-size: 1.5em;
}

.title{
    font-size: 4em;
}